.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;   
}
.backg{
    min-height: 100vh;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position:center ;
     background-repeat: no-repeat;
     border-radius: 50px;
}
.hero h1{
    text-align: center;
    width: 90%;
    font-size: 90px;
    font-weight: 600;
    margin-top: 100px;
}
.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 55%;
    align-items: center;
    font-size: 24px;
    line-height: 40px;
}
.d span{
     background: blue
}
.hero-action{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    gap: 25px;
}
.hero-connect{
    padding: 15px 30px;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    border-radius: 50px;
    cursor: pointer;
}
.hero-resume{
    padding: 13px 45px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color:#B415FF ;
}
@media(max-width:768px){
.hero img{
    margin-top: 120px;
    width: 350px;
}
.hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
}
.hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
}
.hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
}
.hero-resume{
    padding: 20px 50px;
    border-radius: 40px;
}
}