.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 100px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip:text ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.contact-left p{
    color: #dadada;
    max-width: 550px;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}
.contact-right label{
    color: #dadada;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 600px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #323232;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    border: none;
    background: #323232;
    padding: 25px;
    color: #a0a0a0;
    font-family: Outfit;
    border-radius: 4px;
    width: 580px;
    font-size: 20px;
}
.contact-sumbit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-sumbit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
  .contact-detail img{
    width: 25px;
  }
  .contact-right label{
    font-size: 20px;
  }
  .contact-right input{
    width: 100%;
    font-size: 20px;
  }
  .contact-right textarea{
    width: 95%;
    font-size: 20px;
  }
  .contact-sumbit{
    font-size: 20px;
    padding: 15px 40px;
  }
}